form {
    width: 60%;
    min-width: 350px;
    border: solid rgb(29, 94, 172) 5px;
    box-shadow: 20px 10px 10px  black;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
  }

@media screen and (max-width: 450px) {
    form {
        border: none;
        box-shadow: none;
        width: 10%;
      }

      .formInput {
          width: 70%;
      }
}

.feedback {
    color: red;
}